<!DOCTYPE html>
<html lang="de-CH">
<head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms dcat: http://www.w3.org/ns/dcat#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="author" content="Gionathan Diani, Martina Stüssi, Lukas Streit">
    <meta name="description" content="Dashboard zur Visualisierung der Wohnungsmietpreise in der Stadt Bern.">
    <meta name="dc.created" content="2024-05-20">
    <meta name="dc.modified" content="{% datenow %}">
    <title>Dashboard Wohnungsmietpreise in der Stadt Bern</title>
    <style>
    {% set css %}
        {% include "style.css" %}
    {% endset %}
    {{ css | cssmin | safe }}
    </style>
</head>
<body>
	{{ content | safe }}
</body>
</html>