/* Styles 2K resolution */
@media(min-width: 125em){

	body{
		font-size: 120%;
	}

}

/* Styles 4K resolution */
@media(min-width: 187em){

	html, 
	body{
		font-size: 125%;
	}
	
}

@media(min-width: 87.51em) and (max-aspect-ratio: 3 / 2){
	body{
		height: auto;
	}

	#dashboard{
		max-width: 960px;
	}

	#map{
		min-height: 20em;
	}

	#dashboard>main>section>div{
		grid-template-rows: auto auto;
		grid-template-columns: minmax(0, 1fr);
		grid-row-gap: 2em;
	}

	#map,
	#trend-district{
		padding-right: 0;
		border: unset;
	}

	#trend-rooms{
		padding-left: 0;
	}

	#trend-district,
	#trend-rooms{
		grid-template-rows: auto minmax(11em, 1fr);
	}

	#roompriceroom,
	#roompriceperroom{
		min-height: 15em;
	}

	#roomprice{
		padding-left: 0;
	}

	
}

@media(min-width: 87.51em) and (max-height: 62.5em){
	body{
		font-size: 80%;
	}
}

/* Style Tablet */
@media(max-width: 87.5em){

	body{
		height: auto;
	}

	#dashboard{
		max-width: 960px;
	}

	#map{
		min-height: 20em;
	}

	#dashboard>main>section>div{
		grid-template-rows: auto auto;
		grid-template-columns: minmax(0, 1fr);
		grid-row-gap: 2em;
	}

	#map,
	#trend-district{
		padding-right: 0;
		border: unset;
	}

	#trend-rooms{
		padding-left: 0;
	}

	#trend-district,
	#trend-rooms{
		grid-template-rows: auto minmax(11em, 1fr);
	}

	#roompriceroom,
	#roompriceperroom{
		min-height: 15em;
	}

	#roomprice{
		padding-left: 0;
	}

}

/* Mobile Style */
@media(max-width: 47.5em){
	
	:root{
		--h1-fs: 1.125em;
		--h2-fs: 1.125em;
		--h3-fs: 1.125em;
		--h4-fs: 1em;
		--default-border-rad: 0.625em;
		--small-txt: 1em;
	}
	
	h1{
		line-height: 1.2;
	}

	#dashboard{
		padding-bottom: 3.5em;
	}

	#dashboard>header{
		background: var(--grey2);
		color: #fff;
		position: fixed;
		width: 100%;
		height: 3em ;
		z-index: 99;
		top: 0;
		box-shadow: 0 0 .652em rgba(0,0,0,.2);
	}

	[popover] {
	  border-radius: unset;
	  box-shadow: unset;
	  max-width: 100%;
	  top: 0;
	  height: 100vh;
	  transform: unset;
	}

	#dashboard>header>button{
		border-radius: 50%;
		box-shadow: .0625em .0625em 10px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(0,0,0,.1);
		width: 3em;
		height: 3em;
		text-align: center;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		bottom: 1em;
		right: 1em;
	}

	button:hover,
	button:focus{
		color: #670009;
	}

	button>span:last-child{
		display: inline;
		font-size: 1.5em;
	}
	
	button>span:first-child{
		display: none;
	}

	#dashboard > main > section > header{
		display: unset;
		position: sticky;
		z-index: 2;
		top: 3em;
		background: #fff;
		padding: 1em;
		box-shadow: .0625em .0625em 10px rgba(0, 0, 0, 0.1);
	}

	#dashboard > main > section > div{
		border-radius: 0;
	}

	#dashboard > main > section > header h2{
		margin-bottom: .5em;
	}

	#dashboard > main{
		border-radius: 0;
		margin-top: 3em;
	}

	#dashboard > main > section > header > select,
	label.toggle{
		margin-left: 0;
	}

	body {
		padding: 0;
	}

	#trend-district p, 
	#trend-rooms p{
		margin-top: unset;
		padding: unset;
	}

	#dashboard > main{
		padding: 0;
		grid-template-rows: auto auto;
	}

	#dashboard > main > section > div{
		padding: 1em;
	}

	#trend-rooms,
	#trend-district{
		grid-row-gap:.5em;
		grid-template-columns: 1fr;
	 	grid-template-rows: auto auto  minmax(15em, 1fr)  auto auto;
		grid-template-areas: "title" "lead" "dia" "filter" "legend";
	}

	#trend-district .filter, 
	#trend-rooms .filter{
		margin-top: .5em;
		justify-self: start;
	}


	#map{
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto 1fr;
	}

	#map > p{
		max-width: unset;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	#map>.filter{
		margin-top: .5em;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	#map>.dia{
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}

	#roomprice{
		display: grid;
		padding-left: 0;
		grid-template-rows: auto auto auto minmax(10em, 1fr) auto minmax(10em, 1fr);
		grid-template-columns: 1fr;
		grid-template-areas: "title" "filter" "lead1" "dia1" "lead2" "dia2";
	}

	#roomprice .filter{
		justify-self: start;
		margin-top: 1em;
	}

	#roomprice .lead1,
	#roomprice .lead2{
		margin-top: 1em;
	}

	.legend{
		margin-top: .5em;
	}

	.legend ul{
		display: flex;
		flex-wrap: wrap;
	}

	.legend ul li{
		padding-right: .5em;
	}

}
