/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym,
del, dfn, em, img, kbd, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, label, caption,
article, aside, details, figure, figcaption, footer, header, hgroup, 
menu, main, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p{
	line-height: 1.2;
}

select {
  /*appearance: none;*/
  background-color: var(--fschema-el-2);
  border: 1px solid var(--fschema-el-2);
  border-radius: 3px;
  padding: .2em .4em;
  margin: 0;
  width: auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: inherit;
  line-height: inherit;
}

/* Dash Styles */
:root{
	--ff-main: 'Inter', Helvetica, Arial, Verdana, sans-serif;
	--bg1: #fff;
	--bg2: #FFF5F0;
	--grey1: #757575;
	--grey2: #575757;
	--text-clr: #000;
	--fschema-el-0: #fff;
	--fschema-el-1: #FFF5F0;
	--fschema-el-2: #FEE0D2;
	--fschema-el-3: #FCBBA1;
	--fschema-el-4: #FC9272;
	--default-border-rad: 0.9375rem;
}

body{
	background: var(--fschema-el-0);
	font-family: var(--ff-main);
	line-height: 1;
	height: 100vh;
	display: grid;
	padding: 1em;
	grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

a{
	color: var(--text-clr);
}

p{
	line-height: 1.5;
}

p + h3{
	margin-top: 1em;
}

h1{
	font: 700 2.125em 'Inter', sans-serif;
}

h2{
	font: 500 1.375em 'Inter', sans-serif;
}

h3{
	font: 700 1.125em 'Inter', sans-serif;
}

h4{
	font: 500 .875em 'Inter', sans-serif;
	color: var(--grey2);
}

main{
	display: grid;
	grid-template-rows: repeat(2, 50%);
	row-gap: 1em;
	background: var(--fschema-el-1);
	border-radius: var(--default-border-rad);
	padding: 0 1em 1em;
}

body>header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--default-border-rad) 1em;
}

main>section{
	display: grid;
	grid-template-rows: auto 1fr;
}

section>header{
	margin-top: 1em;
	padding: 0 var(--default-border-rad);
	width: 100%;
	align-items: center;
	display: inline-flex;
}

section>header select{
	margin-left: 1em;
}

section>div{
	margin: 1em 0 0 0;
	padding: 1.125em 1.7em;
	display: flex;
	flex-wrap: wrap;
	background: var(--fschema-el-0);
	border-radius: var(--default-border-rad);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.w50{
	width: 50%;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

article{
	display: grid;
}

#map{
	height: 100%;
	grid-template-rows: auto 1fr;
}

article.t1{
	width: 50%;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: auto;
	grid-template-areas: 
    "title filter"
    "lead dia"
    "legend dia";
}

.sr-only{
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

.brdri{
	padding-right: 1em;
	border-right: 1px solid var(--grey1);
}

.brdri + :is(div, article){
	padding-left: 1em;
}

hgroup>p{
	font-weight: 500;
	font-size: .875em;
	color: var(--grey2);
	margin-top: 1em;
}


article.t1>h3{
	grid-area: title;
}

article.t1>p.lead{
	grid-area: lead;
}

article.t1>div.legend{
	grid-area: legend;
	align-self: end;
}

article.t1>div.filter{
	grid-area: filter;
	justify-self: end;
}

article.t1>div.dia{
	height: 300px;
	grid-area: dia;
}

#whg{width: 100%; height: 150px; margin-top: 52px}
#line{width: 100%; height: 500px;}


[popover] {
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: var(--default-border-rad);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 30em;
  top: 2rem;
  margin: 0 auto;

}

button{
	background: var(--fschema-el-2);
	border: 1px solid var(--fschema-el-2);
	color: #000;
	padding: 1em;
	border-radius: 3px;
	font-weight: 600;
}

button.close{
	position: absolute;
	top: .5em;
	right: .5em;
	width: 2em;
	height: 2em;
	padding: 0;
	border-radius: 50%;
}

button:hover,
button:focus{
	background-color: var(--fschema-el-1);
	cursor: pointer;
}

label.toggle{
	margin-left: 1em;
	display: inline-block;
	border-radius: .3125em;
	overflow: hidden;
}

label.toggle input[type=checkbox] ~ span{
	display: inline-block;
	background: #FCBBA1;
	padding: .5em 0;
	width: 3em;
	text-align: center;
}

label.toggle input[type=checkbox] ~ .option:last-child{
	background: #FEE0D2;
}

label.toggle input[type=checkbox]:checked ~ .option{
	background:#FEE0D2;
}

label.toggle input[type=checkbox]:checked ~ .option:last-child{
	background: #FCBBA1;
}

.legend label{
	display: inline-flex;
	align-items: center;
	line-height: 1.2;
}

.legend svg{
	width: 1em;
	min-width: 1em;
	margin-right: .3em;
}

.legend input[type="checkbox"] + svg rect{
	opacity: .2;
}

.legend input[type="checkbox"]:checked + svg rect{
	opacity: 1;
}

#roompricefilter{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
    "tit fil"
    "lea lea";
}

#roompricefilter h3{
	grid-area: tit;
}

#roompricefilter select{
	grid-area: fil;
}

#roompricefilter p{
	grid-area: lea;
}










