---
layout: base.njk
---
<header>
	<h1>Wohnungsmietpreise in der Stadt Bern</h1>
	<button popovertarget="impressum">Impressum</button>
	<div id="impressum" popover="manual">
		<h2>Impressum</h2>
		<h3>Quellenangaben</h3>
		<p>Die Daten stammen</p>
		<h3>Autor:innen</h3>
		<p>Das Dashboard entstand im Rahmen der Module «Data Visualization» und «Dashboard Design» an der FH Graubünden und wurde von <a href="https://lukasstreit.ch">Lukas Streit</a>, <a href="https://ch.linkedin.com/in/martina-stuessi/en">Martina Stüssi</a> und <a href="https://gionathandiani.name">Gionathan Diani</a> entwickelt.</p>
		<button class="close" popovertarget="impressum" popovertargetaction="hide">
	    	<span aria-hidden=”true”>🗙</span>
	   		<span class="sr-only">Close</span>
	  </button>
	</div>
</header>
<main>
	<section>
		<header>
			<h2>Preisentwicklung über die Jahre</h2>
			<label class="toggle">
				<input type="checkbox" class="switch sr-only">
				<span class="sr-only">Wechsle zu Anzeigen in </span>
				<span>%</span><span>CHF</span>
			</label>
		</header>
		<div class="flex">
			<article class="t1 brdri" id="trend-district">
				<h3>Stadtteil</h3>
				<p>Entwicklung Wohnungsmietpreise nach Stadtteil.</p>
				<div class="filter">
					{% set options = data_neu.filters.rooms %}
					{% include "select.njk" %}
				</div>
				<div class="legend">
					<h4>Stadtteile</h4>
					{% set options = data_neu.filters.districts %}
					{% include "checkboxes.njk" %}
				</div>
				<div class="dia"></div>
			</article>
			<article class="t1" id="trend-rooms">
				<h3>Wohnungsgrösse</h3>
				<div class="filter">
					{% set options = data_neu.filters.districts %}
					{% include "select.njk" %}
				</div>
				<p>Entwicklung Wohnungs&shy;miet&shy;preise nach Wohnungs&shy;grösse.</p>
				<div class="legend">
					<h4>Stadtteile</h4>
					<ul>
						{% for groesse in filter.wohnungsgroessen %}
						<li><label><input type="checkbox" checked>&nbsp;{{ groesse }}</label></li>
						{% endfor %}
					</ul>
				</div>
				<div class="dia"></div>
			</article>
		</div>
	</section>
	<section>
		<header>
			<h2>Jahresübersicht</h2>
		</header>
		<div class="w100">
			<div class="w50 brdri">
				<article>
					<hgroup>
						<h3>Unterschiede nach Stadtteilen</h3>
						<p>Entwicklung Wohnungsmietpreise nach Stadtteil.</p>
					</hgroup>
					{% include "karte.svg" %}
				</article>
			</div>
			<div class="w50 flex">
				<article class="w50">
					<hgroup>
						<h3>Wohnungsmietpreis</h3>
						<p>Wohnungsmietpreise nach Wohnungsgrösse.</p>
					</hgroup>
					<div class="dia" id="whg"></div>
				</article>
				<article class="w50">
					<hgroup>
						<h3>Wohnungsmietpreis</h3>
						<p>Preis pro Zimmer nach Wohnungsgrösse.</p>
					</hgroup>
					<div class="dia" id="room-price-per-room"></div>
				</article>
			</div>
		</div>
	</section>
</main>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<script type="text/javascript">
	
	const baseOptions = {
		grid: {
			left: 0,
			right: 0,
			top: 0,
			bottom: 0,
			containLabel: true
		}
	}

	const option = {
		grid: {
			left: 0,
			right: 0,
			top: 0,
			bottom: 0
		},
		color: ['#CB181D'],
		xAxis: {
			zlevel: 99,
			show: false,
	    	type: 'value',
		    axisTick: {
		      show: false
		    },
		    splitLine: {
		      show: false
		    },
		    axisLine: {
	      		show: false
	    	},
	  	},
	  	yAxis: {
	  		zlevel: 1,
	    	type: 'category',
	    	data: ['1 Zi', '2 Zi', '3 Zi', '4 Zi', '5 Zi'],
	    	splitLine: {
	      		show: false
	    	},
	    	axisLine: {
	      		show: false
	    	},
	    	axisTick: {
	      		show: false
	    	},
	    	axisLabel: {
	    		inside: true,
	    		color: '#fff',
	    		fontWeight: '700'
	    	}
	  	},
	  	series: [
		  	{
		    	type: 'bar',
		    	animation: false,
		    	data: [{% for val in test %}{{ val }},{% endfor %}],
		    	label: {
		    		show: true,
		    		fontWeight: '700',
		    		position: 'right',
		    		color: '#000'
		    	}
		    }
	  	]
	};

	optionLine = {
	  ...baseOptions,
	  xAxis: {
	    type: 'category',
	    data: [{% for year in data_neu.years %}{{ year.year }},{% endfor %}],
	    axisLine: {
	    	onZero: false
	    }
	  },
	  yAxis: {
	    type: 'value',
	    axisLine: {
	      show: true
	    },
	    axisLabel: {
	    	formatter: (val) => {
	    		if(val > 0){
	    			return '+'+val;
	    		}else if(val < 0){
	    			return '-'+val;
	    		}

	    		return val;
	    	}
	    },
	    splitLine: {
	    	show: false
	    }
	  },
	  series: [
	  	{% for district in data_neu.years[0].districts %}
	  	{% set distIter = loop.index0 %}
	  	{
	  		name: "{{ data_neu.mapping[distIter].id }}",
	  		data: [{% for year in data_neu.years %}{{year.districts[distIter].rooms[0]}},{% endfor %}],
	  		type: 'line',
	  		lineStyle: {
	  			width: 4
	  		}
	  	},
	  	{% endfor %}
	  ]
	};

	const roomPrice = echarts.init(
		document.getElementById('whg'), null, {
			 renderer: 'svg'
		}
	);

	const roomPricePerRoom = echarts.init(
		document.getElementById('room-price-per-room'), null, {
			 renderer: 'svg'
		}
	);


	roomPrice.setOption(option);
	roomPricePerRoom.setOption(option);
	
	trendDistrictData = {{ districtTrend | dump | safe }};

	const dashboard = {
		getValue: (e) => {
			return e.target.value;
		},
		trendRooms: _ => {
			const trendRooms = document.getElementById('trend-rooms');
			const chart = trendRooms.getElementsByClassName('dia')[0];
			const select = trendRooms.getElementsByTagName('select')[0];
			const trendRoomsEChart = echarts.init(chart, null, {renderer: 'svg'});
			trendRoomsEChart.setOption(optionLine);
		},
		trendDistrict: _ => {

			const trendDistrict = document.getElementById('trend-district');
			const chart = trendDistrict.getElementsByClassName('dia')[0];
			const select = trendDistrict.getElementsByTagName('select')[0];
			const trendDistrictEChart = echarts.init(chart, null, {renderer: 'svg'});
			trendDistrictEChart.setOption(optionLine);

			select.addEventListener('change', (e) => {
				trendDistrictEChart.setOption({series: trendDistrictData[e.target.value]});
			})

		},
		init: _ => {
			dashboard.trendDistrict();
			dashboard.trendRooms();
		}
	}

	dashboard.init();

</script>
