---
layout: base.njk
---
<div id="dashboard">
	<header>
		<h1>Wohnungsmietpreise in der Stadt Bern</h1>
		<button popovertarget="impressum"><span>Impressum & Quellen</span><span>?</span></button>
	</header>
	<main>
		<section>
			<header>
				<h2>Preisentwicklung über die Jahre</h2>
				<label class="toggle">
					<input type="checkbox" id="toggle" class="switch sr-only">
					<span class="sr-only">Wechsle zwische Anzeige in</span>
					<span class="option">%</span><span class="sr-only">/</span><span class="option">CHF</span>
				</label>
			</header>
			<div>
				<article id="trend-district">
					<h3>Stadtteil</h3>
					<p>Entwicklung Wohnungsmietpreise nach Stadtteil.<br />Basisjahr {{ data.years[0].year }}</p>
					<div class="filter">
						{% set options = trendDistrict.filters.rooms %}
						{% set id = "district-trend-rooms" %}
						{% include "select.njk" %}
					</div>
					<div class="legend">
						<h4>Stadtteile</h4>
						{% set options = trendDistrict.filters.districts %}
						{% set colors = trendDistrict.colors %}
						{% include "checkboxes.njk" %}
					</div>
					<div class="dia"></div>
				</article>
				<article id="trend-rooms">
					<h3>Wohnungsgrösse</h3>
					<div class="filter">
						{% set options = trendRoom.filters.districts %}
						{% set id = "rooms-trend-district" %}
						{% include "select.njk" %}
					</div>
					<p>Entwicklung Wohnungs&shy;miet&shy;preise nach Wohnungs&shy;grösse.<br>Basisjahr {{ data.years[0].year }}</p>
					<div class="legend">
						<h4>Wohnungsgrössen</h4>
						{% set options = trendRoom.filters.rooms %}
						{% set colors = trendRoom.colors %}
						{% include "checkboxes.njk" %}
					</div>
					<div class="dia"></div>
				</article>
			</div>
		</section>
		<section>
			<header>
				<h2>Jahresübersicht</h2>
				<select id="details_years">
					{% for year in data.years %}
					<option value="{{loop.index0}}" {% if loop.index == loop.length %}selected{% endif %}>{{ year.year }}</option>
					{% endfor %}
				</select>
			</header>
			<div>
				<article id="map">
					<h3>Unterschiede nach Stadtteilen</h3>
					<p id="desc"></p>
					<div class="filter">
					{% set options = trendDistrict.filters.rooms %}
					{% set id = "map-rooms" %}
					{% include "select.njk" %}
					</div>
					<div class="dia"></div>
				</article>
				<article id="roomprice">
					<h3>Wohnungsmietpreis & Zimmerpreis</h3>
					<div class="filter">
					{% set options = roomPrice.filters.districts %}
					{% set id = "roompricdistricts" %}
					{% include "select.njk" %}
					</div>
					<p class="lead1">Wohnungsmietpreise nach Wohnungsgrösse in CHF.</p>						
					<div id="roompriceroom"></div>
					<p class="lead2">Preis pro Zimmer nach Wohnungsgrösse in CHF.</p>
					<div id="roompriceperroom"></div>
				</article>
			</div>
		</section>
	</main>
</div>
		<div id="impressum" popover="manual">
			<h1>Impressum & Quellen</h1>
			<p>Das Dashboard entstand im Rahmen der Module «Data Visualization» und «Dashboard Design» an der Fach&shy;hoch&shy;schule Graubünden und wurde von <a href="https://lukasstreit.ch">Lukas Streit</a>, <a href="https://ch.linkedin.com/in/martina-stuessi/en">Martina Stüssi</a> und <a href="https://gionathandiani.name">Gionathan Diani</a> entwickelt.</p>
			<h2>Quellen</h2>
			<p>
				Die <a href="https://www.bern.ch/themen/stadt-recht-und-politik/bern-in-zahlen/katost/05pre/05pre-xls#:~:text=T 05.03.050i">Daten</a> stammen aus dem Open Government Portal der Stadt Bern. Die <a href="https://www.bern.ch/politik-und-verwaltung/stadtverwaltung/prd/abteilung-aussenbeziehungen-und-statistik/statistik-stadt-bern/wohnungsmietpreiserhebung">Wohnungs&shy;miet&shy;preis&shy;erhebung</a> wird jährlich im Auftrag des Gemeinde&shy;rats durchgeführt. Erläuterung der Daten und Erhebungs&shy;methoden können der <a href="https://www.bern.ch/themen/stadt-recht-und-politik/bern-in-zahlen/publikationen/2021-2025/download-2021-2025/2024-03-07-mietpreiserhebung-2023-b.pdf">Begleit&shy;publikation</a> von Statistik Stadt Bern entnommen werden.
			</p>
			<p>
				Die Wohnungs&shy;miet&shy;preise entsprechen den Netto&shy;mietpreisen. Für die Darstellungen der prozentualen Veränderungen in den Diagrammen «Stadtteil» und «Wohnungsgrösse» wurde als Basis das Jahr 2013 (=100) gewählt.
			</p>
			<h2>Open Source-Bibliotheken</h2>
			<p>
				Das Dashboard wurde unter Beihilfe von <a href="https://www.11ty.dev/">11ty</a> (<a href="https://github.com/11ty/eleventy?tab=MIT-1-ov-file#readme">MIT-Lizenz</a>) und <a href="https://echarts.apache.org/">Apache ECharts</a> (<a href="https://github.com/apache/echarts?tab=Apache-2.0-1-ov-file#readme">Apache-2.0 Lizenz</a>) realisiert. Als Schrift&shy;familie wird «<a href="https://rsms.me/inter/">Inter</a>» (<a href="https://raw.githubusercontent.com/rsms/inter/v4.0/LICENSE.txt">SIL Open Font License 1.1</a>) verwendet. Icons stammen von <a href="https://fontawesome.com/">Font Awesome</a> (<a href="https://fontawesome.com/license/free">Font Awesome Free License</a>). Der Programm&shy;quell&shy;code des Dashboards ist im <a href="https://github.com/giodi/wmp-vis">Git-Repository</a> einsehbar.
			</p>
			<p class="footnote">Zuletzt aktualisiert am {% datenow "dd.mm.YYYY" %}</p>
			<button class="close" popovertarget="impressum" popovertargetaction="hide">
		    	<span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#575757" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></span>
		   		<span class="sr-only">Close</span>
		  </button>
		</div>
<script src="assets/js/echarts.min.js"></script>
<script type="text/javascript">
{% include "popover.min.js" %}
{% include "dashboard.js" %}
</script>
